<div class="experience flex-row flex-row-center">
  <div class="experience-background flex-column">
    <div class="experience-background--top"></div>
    <div class="experience-background--mid"></div>
    <div class="experience-background--bottom"></div>
  </div>
  <div class="experience-body flex-column">
    <div class="experience-body--title">
      <span> Where have I been?<br />My Career and Education Footprints </span>
    </div>
    <div class="experience-body--box round-shadow">
      <div class="experience-body--box--title flex-row flex-row-center">
        <span>Career</span>
      </div>
      <div
        class="experience-body--box--container flex-row flex-row-btw flex-row-wrap"
      >
        <div class="experience-body--box--container--career flex-column">
          <div class="experience-body--box--container--career--title">
            Front End Developer <br />
            Avrij Analytics - Ottawa, ON
          </div>
          <div class="experience-body--box--container--career--date">
            July 2019 to May 2020
          </div>
          <div class="experience-body--box--container--career--detail">
            I was building an angular app for Avrij Analytics from scratch. The
            app is handling millions of posts from other social media using
            widely Rxjs and Redux to manage the state. Also, I create a
            collection of reusable widget components over the app, such as date
            pickers, group checkboxes without using any widget library like
            Angular material and bootstrap in order to make the app fully
            controlled and flexible. The app is successfully sold to several
            sports teams. I also participate in pulling data from social media
            like twitter to update our database with the latest social media
            information. Furthermore, I implemented data visualization works by
            creating a dashboard page to demonstrate our data.
          </div>
        </div>
        <div class="experience-body--box--container--career flex-column">
          <div class="experience-body--box--container--career--title">
            Full stack developer Intern <br />
            HuiBin Tech - HARBIN, CN
          </div>
          <div class="experience-body--box--container--career--date">
            May 2018 to September 2018
          </div>
          <div class="experience-body--box--container--career--detail">
            I was in the team of the internal management system, which is a
            piece of a web app  to allow our sales team to manage orders and
            customers. I made an effort on building  features to assist our
            users to manage and maintain the relationship with customers. My
            responsibilities included designing features, testing new features
            and communicate with our sales team.
          </div>
        </div>
      </div>
    </div>
    <div class="experience-body--box round-shadow">
      <div class="experience-body--box--title flex-row flex-row-center">
        <span>Education</span>
      </div>

      <div
        class="experience-body--box--container flex-row flex-row-btw flex-row-wrap"
      >
        <div class="experience-body--box--container--edu flex-column">
          <div class="experience-body--box--container--edu--title">
            MASTER OF COMPUTER SCIENCE
          </div>
          <div class="experience-body--box--container--edu--name">
            BISHOP'S UNIVERSITY - Sherbrooke, QC
          </div>
          <div class="experience-body--box--container--edu--date">
            January 2018 to July 2019
          </div>
        </div>
        <div class="experience-body--box--container--edu flex-column">
          <div class="experience-body--box--container--edu--title">
            BACHELOR in PHYSICS
          </div>
          <div class="experience-body--box--container--edu--name">
            MUDANJIANG NORMAL UNIVERSITY - MUDANJIANG, CN
          </div>
          <div class="experience-body--box--container--edu--date">
            September 2010 to June 2014
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
