<div class="experience flex-row flex-row-center">
  <div class="experience-background flex-column">
    <div class="experience-background--top"></div>
    <div class="experience-background--mid"></div>
    <div class="experience-background--bottom"></div>
  </div>
  <div class="experience-body flex-column">
    <div class="experience-body--title">
      <span> Where have I been?<br />My Career and Education Footprints </span>
    </div>
    <div class="experience-body--box round-shadow">
      <div class="experience-body--box--title flex-row flex-row-center">
        <span>Career</span>
      </div>
      <div
        class="experience-body--box--container flex-row flex-row-btw flex-row-wrap"
      >
        <div class="experience-body--box--container--career flex-column">
          <div class="experience-body--box--container--career--title">
            Front End Developer <br />
            Avrij Analytics - Ottawa, ON
          </div>
          <div class="experience-body--box--container--career--date">
            July 2019 to May 2020
          </div>

          <ul class="experience-body--box--container--career--detail">
            <li>• Continually improved the old version of the Avrij web app</li>
            <li>
              • Built a new version product from scratch ( Design the global
              data flow and state  management to ensure the massive posts
              rendered properly and fast)
            </li>
            <li>
              • Designed and Implement Dashboard for Avrij data analysis feature
            </li>
            <li>
              • Implemented the filter posts features, like date, type, search
              and the page number ( filters are stored and users can review the
              content without resetting every time)
            </li>
            <li>
              • Create reusable widgets through over the APP to improve work
              efficiency and design consistency.
            </li>
            <li>
              • Also involved in some back end work, pulling data from Twitter
              periodically to update the database.
            </li>
          </ul>
        </div>
        <div class="experience-body--box--container--career flex-column">
          <div class="experience-body--box--container--career--title">
            Full stack developer Intern <br />
            HuiBin Tech - HARBIN, CN
          </div>
          <div class="experience-body--box--container--career--date">
            May 2018 to September 2018
          </div>
          <ul class="experience-body--box--container--career--detail">
            <li>
              • Add features into an existing web ( work closely with our sales
              team)
            </li>
            <li>• Continuously improve web performance and debug issues.</li>
            <li>• Creating new feature API.</li>
          </ul>
          <pre></pre>
        </div>
      </div>
    </div>
    <div class="experience-body--box round-shadow">
      <div class="experience-body--box--title flex-row flex-row-center">
        <span>Education</span>
      </div>

      <div
        class="experience-body--box--container flex-row flex-row-btw flex-row-wrap"
      >
        <div class="experience-body--box--container--edu flex-column">
          <div class="experience-body--box--container--edu--title">
            MASTER OF COMPUTER SCIENCE
          </div>
          <div class="experience-body--box--container--edu--name">
            BISHOP'S UNIVERSITY - Sherbrooke, QC
          </div>
          <div class="experience-body--box--container--edu--date">
            January 2018 to July 2019
          </div>
        </div>
        <div class="experience-body--box--container--edu flex-column">
          <div class="experience-body--box--container--edu--title">
            BACHELOR in PHYSICS
          </div>
          <div class="experience-body--box--container--edu--name">
            MUDANJIANG NORMAL UNIVERSITY - MUDANJIANG, CN
          </div>
          <div class="experience-body--box--container--edu--date">
            September 2010 to June 2014
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
