@import './src/styles/abstract/variables';
.experience {
  width: 100%;
  min-height: 150vh;
  position: relative;
  &-background {
    position: absolute;
    height: 100%;
    z-index: -1;
    top: 0;
    &--top {
      width: 100vw;
      height: 50rem;
      background-color: $color_exper_top;
      border-radius: 0 0 200rem 0/ 0 0 30rem 0;
      box-sizing: border-box;
    }

    &--mid {
      width: 100vw;
      height: 15rem;
      background-color: #ffffff;
    }

    &--bottom {
      width: 100vw;
      flex: 1;
      background-color: $color_exper_bottom;
      border-radius: 200rem 0 0 0/ 30rem 0 0 0;
      box-sizing: border-box;
    }
  }
}
