@import './src/styles/abstract/variables';
@import './src/styles/abstract/mixins';
.components {
  width: 100%;
  min-height: 150vh;
  position: relative;
  &-background {
    position: absolute;
    height: 100%;
    z-index: -1;
    top: 0;
    &--top {
      width: 100vw;
      height: 50rem;
      background-color: $color_comp_top;
      border-radius: 0 0 200rem 0/ 0 0 30rem 0;
      box-sizing: border-box;
    }

    &--mid {
      width: 100vw;
      height: 15rem;
      background-color: #ffffff;
    }

    &--bottom {
      width: 100vw;
      flex: 1;
      background-color: $color_comp_bottom;
      border-radius: 200rem 0 0 0/ 30rem 0 0 0;
      box-sizing: border-box;
    }
  }

  &-body {
    width: 90%;
    max-width: 128rem;
    &--title {
      margin-top: 15rem;
      margin-bottom: 5rem;
      font-size: 5.2rem;
      font-weight: 600;
      color: #ffffff;
      width: 50%;
      @include respond-md {
        align-self: center;
        font-size: 3.8rem;
        text-align: center;
        margin-top: 5rem;
        width: 80%;
      }
    }
    &--box {
      height: 100rem;
      // background-color: red;
    }
  }

  &__comp {
    &--title {
      font-size: 2rem;
      font-weight: 600;
      text-align: center;
      margin-bottom: 1rem;
    }

    &--date {
      width: 25rem;
      height: 25rem;
      border-radius: 1rem;
      border: 1px solid $color_line;
      margin-bottom: 1rem;
      &--input {
        font-size: 1.5rem;
        position: relative;
      }
      &--drop {
        position: absolute;
        top: 3rem;
        right: 0;
        background-color: #ffffff;
      }
    }
  }
}
