// curve background color
$color_home_top: #039be5;
$color_home_bottom: #ff8a65;
$color_exper_top: #f67f00;
$color_exper_bottom: #ff8a65;
$color_comp_top: #63b7af;
$color_comp_bottom: #ee8572;

// text-round color
$color_orage_round: #f89b28;

// text-color
$color_text_light: #cdcdcd;
// Standar breakpoints
$break_xs: 576px;
$break_s: 768px;
$break_md: 992px;
$break_lg: 1200px;
