// curve background color
$color_home_top: #039be5;
$color_home_bottom: #ff8a65;
$color_exper_top: #f67f00;
$color_exper_bottom: #ff8a65;
$color_comp_top: #63b7af;
$color_comp_bottom: #ee8572;
$color_contact_top: #f5a7a7;
$color_contact_bottom: #82c4c3;

// text-round color
$color_orage_round: #f89b28;

// text-color
$color_text_light: #cdcdcd;

// border color
$color_line: #e3e3e5;
$color_line_blue: #2773e8;

// alert color
$alert_danger: '#F8D7DA';
$alert_warning: '#FEF3CD';
$alert_normal: '#D1ECF1';
$alert_success: '#D4EDDA';

// Standar breakpoints
$break_xs: 576px;
$break_s: 768px;
$break_md: 992px;
$break_lg: 1200px;
