<div class="main-header">
  <div class="main-header__nav">
    <div class="main-header__nav--icon">
      <i class="fab fa-angular"></i>
    </div>
    <div class="main-header__nav--drop">
      <drop-select
        [optionSelected]="nav"
        [options]="links"
        (selectOption)="updateURL($event)"
      ></drop-select>
    </div>
    <div class="main-header__nav--tabs">
      <app-tabs
        [tabs]="links"
        [selectedTab]="nav"
        (pickTab)="updateURL($event)"
      ></app-tabs>
    </div>
  </div>
  <div class="main-header__social">
    <a href="https://github.com/ericOrang" target="_blank"
      ><i class="fab fa-github"></i>
    </a>
    <a href="https://www.linkedin.com/in/eric-zhang-49947b178/" target="_blank">
      <i class="fab fa-linkedin"></i>
    </a>
    <div class="main-header__social--pic">
      <img src="../../../assets/profile-pic/11589217482_.pic.jpg" alt="" />
    </div>
  </div>
</div>
