@import './src/styles/abstract/variables';
@import './src/styles/abstract/mixins';
.main-header {
  width: 100vw;
  height: 5rem;
  background-color: #ffffff;
  box-shadow: 0 0 1rem gray;
  position: relative;

  &__nav {
    position: absolute;
    height: 100%;
    margin-left: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    &--icon {
      padding: 0 1rem;
      box-sizing: border-box;
      font-size: 2.5rem;
      color: #dd0031;
    }

    &--drop {
      display: none;
      //   position: relative;
      @include respond-s {
        display: block;
      }
    }

    &--tabs {
      height: 100%;
      //   position: relative;
      @include respond-s {
        display: none;
      }
    }
  }

  &__social {
    position: absolute;
    top: 0;
    right: 2rem;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    & i {
      font-size: 2.5rem;
      cursor: pointer;
      margin: 0 1rem;
    }
    &--pic {
      height: 3rem;
      width: 3rem;
      margin: 0 1rem;
      position: relative;
      & > img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 50%;
        cursor: pointer;
      }
      &--expand {
        position: absolute;
        top: 5rem;
        right: 0;
        width: 35rem;
        padding: 2rem;
        background-color: #ffffff;
        &--big-pic {
          & > img {
            object-fit: cover;
            border-radius: 50%;
            width: 10rem;
            height: 10rem;
          }
        }
        &--email {
          font-size: 1.8rem;
          margin: 1rem;
        }
      }
    }
  }
}
