*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//remove default anchor tag styling
a {
  text-decoration: none;
  color: inherit;
}

// remove default list styling
ul,
li {
  list-style: none;
}

html {
  // This defines what 1rem is
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  overflow-x: hidden;
  &::-webkit-scrollbar {
    // -webkit-appearance: none;
    width: 0.5rem;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 0.5rem;
    background-color: darken($color: #007892, $amount: 0);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
  }
}

textarea,
select,
input,
button {
  outline: none;
}

image {
}

select::-ms-expand {
  display: none;
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
}
select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

select {
  background-color: transparent;
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
}

.flex-row {
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;

  &-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  &-mid {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  &-end {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }

  &-start {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  &-btw {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  &-around {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  &-evenly {
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
  }

  &-fill {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  &-wrap {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

.flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;

  &-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  &-mid {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  &-end {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }

  &-start {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  &-btw {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  &-around {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  &-evenly {
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
  }

  &-fill {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  &-wrap {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

.align-items {
  &-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  &-end {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  &-start {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
}

@media only screen and (max-width: 954px) {
  html {
    font-size: 45%;
  }
}
